<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Eater Leader Home Page</title>
</head>
<body>
    <h2>Education Eater Leaders Home Page</h2>
    <hr>
    <p>
        See you in goa ... for our annual Leadership retreat!
        <br>
        Keep this trip a secret, don't tell the reqular employee
    </p>
    <hr>
    <a th:href="@{/}">Back to Home Page</a>
    
</body>
</html>